body  {
    background-image: url(./fondMenu.jpg);
    background-size: 100vw 100vh;
}


a {
    text-decoration: none; 
    color: black;
}

.position {
    position: fixed;
    bottom: 0;
    right: 100px;
    top: 300px;
  }