body {
    background-image: url("./fondMenu.jpg");
    background-size: 100vw 100vh ;
    font-family: 'Mountains of Christmas', cursive;
    color: white;
}

.Menu_Page--style {
   text-align: center; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content--Menu {
    display: flex;
    justify-content: center;
}